/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  min-height: 100vh;

}

.navbar {
  box-shadow: 10px 15px solid (black);
 background-color:rgba(255, 255, 255, 0.601);
 width: 100%;
 padding: 15px 30px;
 top:0;
 z-index: 3;

 
}
.nav-item :hover{
  background-color: rgba(151, 45, 45, 0.595);
}

  /* //start first section// */
.Main-section {
  background-color: rgb(219, 228, 225);
  height: 100vh;
  
}
.Main-section .cardbody1{
margin-top: 200px;

}
.Main-section .cardtitle{
  color: rgb(7, 7, 62);
  font-size: 70px;
  
  }
  .Main-section .btnshop {
  padding: 15px 29 px;
 
      color:white;
      background-size: 0;
      background-color:rgb(244, 12, 12);
      background:linear-gradient(to left ,rgba(56, 54, 54, 0.115)) ;
       
  }
  .Main-section .mainimg {
height: 100vh;

  }

  /* //start second section// */

  .second-section .secondimg{
    height: 500px;
    width: 400px;
    
    transition: all ease-out 2s;
  
      }
      .second-section .secondimg:hover {
        width: 450px;
        height: 550px;
      }


  .second-section .card1-text{
   color: rgb(44, 43, 43) ;
   font-weight: bold;
   text-align: center;
    }
    .second-section .card-price{
      color: rgb(141, 11, 11) ;
      font-weight: bold;
      text-align: center;
       }

       /* //start third section// */ 

       .third-section {
        height: 100%;
        width: 100%;
        
      }
        .third-section .thirdimg1{
    
    width: 100%;
    height: 100%;
    
    transition: all ease-out 3s;
  
      }
      .third-section .thirdimg1:hover {
        width:110%;
        height: 110%;
      }
      .third-section .thirdimg2{
    
        width: 100%;
        height: 100%;
        
        transition: all ease-out 3s;
      
          }
          .third-section .thirdimg2:hover {
            width:110%;
            height: 110%;
          }
         
          
          .thirsec .thirdimg3{
    
            width: 100%;;
            height: 400px;
            margin: 10px;
            
            transition: all ease-out 3s;
          
              }
               .thirsec .thirdimg3:hover {
                width:110%;
                height:450px;
              }

                /* //start forth section// */ 

                .fourth-section {
                  height: 100%;
                  width: 100%;
                  
                }
                .fourth-section .fheader{
                  color: rgb(44, 43, 43) ;
                  font-weight: bold;
                  text-align: center;
                  margin-top: 10px;
                   }
                   .fourth-section .fpar{
                    color: rgb(91, 87, 87) ;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 10px;
                     }

                     .fourth-section .contain {
                      position: relative;
                      width: 50%;
                      max-width: 300px;
                      
                     
                    }
                    
                    .fourth-section .fourimg{
                      display: block;
                      height: 400px;
                      width: 400px;
                    }
                    
                    .overlay {
                      position: absolute; 
                      bottom: 0; 
                      background: rgb(0, 0, 0);
                      background: rgba(211, 8, 8, 0.5); /* Black see-through */
                      color: #f1f1f1; 
                      width: 100%;
                      transition: 2s ease;
                      opacity:0;
                      color: white;
                      font-size: 20px;
                      padding: 20px;
                      text-align: center;
                      margin-left: 80px;
                      
                    }
                    
 .contain:hover .overlay {
 opacity: 1;
                    }                     
                   

                
                .fourth-section .card4-text{
                 color: rgb(44, 43, 43) ;
                 font-weight: bold;
                 text-align: center;
                 border-top: solid red;
                  }
                  .fourth-section .card-price{
                    color: rgb(141, 11, 11) ;
                    font-weight: bold;
                    text-align: center;
                     }  
                     
                       /* //start End section// */ 

                       .End-section {
                       
                        height: 100%;
                        width: 100%;
                        margin-top: 20px;
                        
                      }
                      .End-section .cardbody2{
                      margin-top: 200px;
                      
                      }
                      .End-section .cardtitle1{
                        color: rgba(2, 2, 14, 0.877);
                        font-size: 50px;
                        
                        }
                        .End-section .btnshop {
                        padding: 15px 29 px;
                       
                            color:white;
                            background-size: 0;
                            background-color:rgb(244, 12, 12);
                            background:linear-gradient(to left ,rgba(56, 54, 54, 0.115)) ;
                             
                        }
                        .End-section .mainimg1 {
                      height: 500px;
                      width:450px;
                      
                        }
                        .End-section2 {
                       
                          height: 100%;
                          width: 100%;
                          margin-top: 20px;
                          
                        }
                      .End-section2 .cardbody2{
                        margin-top: 200px;
                        
                        }
                        .End-section2 .cardtitle1{
                          color: rgba(2, 2, 14, 0.877);
                          font-size: 50px;
                          
                          }
                          .End-section2 .btnshop {
                          padding: 15px 29 px;
                         
                              color:white;
                              background-size: 0;
                              background-color:rgb(244, 12, 12);
                              background:linear-gradient(to left ,rgba(56, 54, 54, 0.115)) ;
                               
                          }
                          .End-section2 .mainimg1 {
                        height: 500px;
                        width:450px;
                        
                          }

                          /* //start Bottom section// */ 
                          .bottom-section {
                          width:80%;
                          background-color: red;
                          margin-left: 150px;

                          }

                          .bottom-section i{
    
                            color:white;
                            font-size: 25px;
                            padding:5px 20px;
                            
                            border-radius: 8px;
                        
                        }
                          
                        
                        
                          .bottom-section  .card1-text{
                           color:white ;
                           font-weight: bold;
                           
                            }
                            .bottom-section  .card-price{
                              color: white ;
                              font-size: 10px;
                              
                               }

                                /* //start Footer section// */
                                .footbar{
                                  box-shadow: 10px 15px solid (black);
                              
                                 
                                 padding: 15px 30px;
                                 top:10px;
                                 z-index: 3;
                                
                                 
                                }
                                .footbar .card-price{
                           margin-top: 30px;
                           font-size: small;
                             width: 70%;

                                }

                                .footbar h2{
                                
                                  font-size: 20px;
                                  width: 70%;
                                  
                                             }
                                
